html, body {
  height: 100%; }

html#homepage-html {
  overflow-y: hidden; }

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 100%;
  z-index: 0;
  pointer-events: none; }

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0);
  overflow: hidden; }

.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #0077ff 75%, #0077ff 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97); }

.line:nth-child(1) {
  margin-left: -50%; }
  .line:nth-child(1)::after {
    animation-delay: 1s; }

.line:nth-child(2) {
  margin-left: -33.33%; }
  .line:nth-child(2)::after {
    animation-delay: 1.5s; }

.line:nth-child(3) {
  margin-left: -16.66%; }
  .line:nth-child(3)::after {
    animation-delay: 2s; }

.line:nth-child(4) {
  margin-left: 0%; }
  .line:nth-child(4)::after {
    animation-delay: 2.5s; }

.line:nth-child(5) {
  margin-left: 16.66%; }
  .line:nth-child(5)::after {
    animation-delay: 2s; }

.line:nth-child(6) {
  margin-left: 33.33%; }
  .line:nth-child(6)::after {
    animation-delay: 1.5s; }

.line:nth-child(7) {
  margin-left: 50%; }
  .line:nth-child(7)::after {
    animation-delay: 1s; }

@keyframes drop {
  from {
    top: -50%; }
  to {
    top: 110%; } }

body[data-theme="dark"] .line {
  background: rgba(51, 51, 51, 0); }

html {
  height: 100%;
  overflow-x: hidden; }

body[data-theme="dark"] {
  background-color: #333333;
  color: #fcfcfc; }
  body[data-theme="dark"] .header {
    color: #0077ff; }
  body[data-theme="dark"] .navbar-dark {
    background-color: #333333 !important; }
  body[data-theme="dark"] .nav-link, body[data-theme="dark"] #toggle-label {
    color: #fcfcfc !important; }
  body[data-theme="dark"] .card {
    background-color: #333333;
    border: 2px solid #fcfcfc; }
  body[data-theme="dark"] .card-img-wrapper {
    background-color: #6b6b6b !important; }
  body[data-theme="dark"] .btn-primary {
    background-color: #0077ff;
    color: #fcfcfc;
    border: 1px solid #fcfcfc; }
  body[data-theme="dark"] .btn-primary:hover,
  body[data-theme="dark"] .btn-primary:focus,
  body[data-theme="dark"] .btn-primary:active {
    background-color: #333333;
    color: #fcfcfc !important; }
  body[data-theme="dark"] .diagonal-box {
    background-image: linear-gradient(to right, #0077ff, #00F6F7); }
  body[data-theme="dark"] .form-control {
    background-color: #6b6b6b !important;
    color: #fcfcfc; }
  body[data-theme="dark"] .contrasting-background-contact,
  body[data-theme="dark"] .contrasting-background-about {
    background-image: linear-gradient(to right, #0077ff, #00F6F7); }
  body[data-theme="dark"] ::selection {
    background: #fcfcfc;
    color: #0077ff; }
  body[data-theme="dark"] ::-moz-selection {
    background: #fcfcfc;
    color: #0077ff; }

#portfolio-link, #portfolio-button {
  z-index: 1; }

.portfolio-button-animated {
  animation-duration: 2s;
  animation-name: fade-in-portfolio-button;
  animation-iteration-count: 1; }

@keyframes fade-in-portfolio-button {
  from {
    opacity: 0%; }
  to {
    opacity: 100% !important; } }

.nav-link, #toggle-label {
  color: #333333 !important; }

.header {
  color: #268bff;
  animation-duration: 3s;
  animation-name: header-slide; }

@keyframes header-slide {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.portfolio-slide {
  animation-duration: 3s;
  animation-name: portfolio-slide; }

.right-slide {
  animation-duration: 3s;
  animation-name: right-slide; }

@keyframes portfolio-slide {
  from {
    margin-left: 100%; }
  to {
    margin-left: 0%; } }

@keyframes right-slide {
  from {
    margin-left: 100%; }
  to {
    margin-left: 3.5%; } }

.navbar-light {
  background-color: #fcfcfc !important; }

#navbar {
  z-index: 1; }

#contact-me-form-wrapper form {
  width: 100%; }

.contact-page-wrapper {
  position: relative;
  max-height: 500px; }

.contrasting-background-contact {
  position: absolute;
  top: 47.5%;
  left: -1%;
  width: 110%;
  height: 170%;
  z-index: 0;
  transform: skewY(-30deg);
  background-image: linear-gradient(to right, #268bff, #00F6F7); }

.contrasting-background-about {
  position: absolute;
  top: 44.5%;
  left: -1%;
  width: 110%;
  height: 170%;
  z-index: 0;
  transform: skewY(-30deg);
  background-image: linear-gradient(to right, #268bff, #00F6F7); }

@keyframes change-text-color {
  from {
    color: #333333; }
  to {
    color: #268bff; } }

#animated-text-container {
  position: relative;
  height: 100vh;
  display: block;
  width: 80vw; }

#animated-text {
  animation-name: change-text-color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-align: center; }

#portfolio-button {
  width: 100%; }

@media only screen and (max-width: 576px) {
  #portfolio-button {
    left: 28%; }
  #animated-text {
    left: -2%; }
  #toggle-label {
    margin-left: 0px !important; }
  .header {
    margin-left: 10px; }
  .contact-form {
    margin-left: 10px;
    width: 95%; }
  #contact-me-form-wrapper > div > div.col.col-12.col-sm-6.position-relative.contact-form > form {
    transform: translate(-50%, -15%) !important; } }

.technologies-used-logo {
  width: 3vw;
  border-radius: 0.5vw; }

.technology-table tbody td {
  vertical-align: middle; }

.btn-primary {
  background-color: #268bff;
  color: #333333;
  border: 1px solid #333333; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #fcfcfc;
  color: #268bff; }

.card {
  background-color: #fcfcfc;
  border: 2px solid #333333; }

body {
  background-color: #fcfcfc; }

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden; }

#light-dark-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: #faa05c;
  border-radius: 100px;
  position: relative; }

#light-dark-label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s; }

input:checked + #light-dark-label {
  background: #268bff; }

input:checked + #light-dark-label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%); }

#light-dark-label:active:after {
  width: 45px; }

body.transition,
body.transition *,
body.transition *:before,
body.transition *:after {
  transition: all 500ms !important;
  transition-delay: 0 !important; }

.diagonal-box {
  background-image: linear-gradient(to right, #268bff, #00F6F7);
  transform: skewY(-12.8deg);
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100%; }

.diagonal-box .content {
  transform: skewY(12.8deg); }

.card-img-wrapper {
  background-color: #b4b4b4 !important; }

.content,
.content h1 {
  max-width: 50em;
  margin: 0 auto;
  transform: skewY(2deg); }
