<head>
    <!-- Required meta tags always come first -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Additional CSS must go after Bootstrap CSS -->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link href="/vanilla_css/styles.css" rel="stylesheet" />
    
    <link rel="shortcut icon" href="/Pic_For_Ico.ico" />
    <title>Frank Edwards Portfolio | <%= title %></title>
  </head>
  