<div class="toggle-container mt-1">
  <span id="toggle-label" class="mx-1">Toggle Theme</span>
  <input id="switch" name="theme" type="checkbox" checked="true" /><label
    id="light-dark-label"
    for="switch"
    >Toggle</label
  >
</div>
