<%- include("./partials/head.ejs") %>

<html>

  <body id="body" data-theme='dark'>

    <%- include("./partials/navbar.ejs") %>


    <div class="contact-page-wrapper">
        <div class="contrasting-background-contact">
             
        </div>
        
        
        
        <div class="container mb-5 mt-5 ps-0">
            <div class="row">
              <div class="col">
                <h2 class="mb-5">About Me</h2>
              </div>
            </div>
          </div>
      
      
          <div id="contact-me-form-wrapper" class="container mt-5">
              <div class="row">
                  <div class="col col-6 position-relative">
                    <p>     Diligent recent bootcamp graduate with a Front End Web + Mobile Development certification with Honors. Currently working as a Software Developer for BuyChoice. Aiming to leverage acquired academic knowledge and proven communication, critical thinking, and problem-solving skills to successfully fill the Front End Web Development role at your company. Frequently praised as adaptable by my peers, I can be relied upon to help your company achieve its goals.</p>
                    <h2 class="mb-2">Skills</h2>
                    <table class="table table-hover table-dark table-striped technology-table">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Language Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><img src="/JS_Logo.png" class="ms-2 technologies-used-logo img-fluid" alt="Javascript Logo"/></td>
                          <td>Javascript</td>
                          
                        </tr>
                        <tr>
                          <td><img src="/HTML_Logo.png" class="ms-2 technologies-used-logo img-fluid" alt="HTML Logo" /></td>
                          <td>HTML 5</td>
                          
                        </tr>
                        <tr>
                          <td><img src="/CSS_Logo.png" class="ms-2 technologies-used-logo img-fluid" alt="CSS Logo" /></td>
                          <td>CSS 3</td>
                          
                        </tr>
                        <tr>
                          <td><img src="/React_Logo.png" class="ms-2 technologies-used-logo img-fluid" alt="Javascript Logo"/></td>
                          <td>React</td>
                          
                        </tr>
                        <tr>
                          <td><img src="/Bootstrap_Logo.png" class="ms-2 technologies-used-logo img-fluid" alt="Bootstrap Logo" /></td>
                          <td>Bootstrap</td>
                          
                        </tr>
                        <tr>
                          <td><img src="/JSX_Logo.png" class="ms-2 technologies-used-logo img-fluid" alt="JSX Logo" /></td>
                          <td>JSX</td>
                          
                        </tr>
                        <tr>
                          <td><img src="/SASS_Logo.png" class="ms-2 technologies-used-logo img-fluid" alt="CSS Logo" /></td>
                          <td>SASS</td>
                          
                        </tr>
                        <tr>
                          <td><img src="/Node_JS_Logo.png" class="ms-2 technologies-used-logo img-fluid" alt="Node JS Logo" /></td>
                          <td>Node JS</td>
                          
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div style="z-index: 1;" class="col col-6">
                      <img class="img-fluid" src="/Profile_Pic.JPG" alt="Picture of Frank" />
                  </div>
              </div>
          </div>
    </div>

   



    

    <script src="/publicJS/main.js"></script>

  </body>
</html>