<%- include("./partials/head.ejs") %>

<html id="homepage-html">
  <body id="body" data-theme="dark" class="homepage-animated">
    <%- include("./partials/navbar.ejs") %>

    <div class="mt-1 container" id="animated-text-container">
      <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <!-- These empty rows are here to provide vertical spacing -->
      <div class="row"> </div>
      <div class="row"> </div>
      <div class="row"> </div>
      <div class="row"> </div>
      <div class="row"> </div>
      <div class="row"> </div>
      <div class="row"> </div>
      <div class="row"> </div>
      <div class="row"> </div>
      <div class="row"> </div>

      <div class="row mb-2">
        <div class="col col-1"></div>
        <div class="col col-10">
          <h1 id="animated-text"></h1>
        </div>
        <div class="col col-1"></div>
      </div>

      <div class="row mt-5">
        <div class="col col-4"></div>
        <div class="col col-4">
          <a id="portfolio-link" href="/portfolio">
            <!-- <button id="portfolio-button" class="btn btn-primary">
              View Portfolio
            </button> -->
          </a>
        </div>
        <div class="col col-4"></div>
      </div>
    </div>

    <script src="/publicJS/main.js"></script>
  </body>
</html>
