<%- include("./partials/head.ejs") %>

<html>
  <body id="body" data-theme="dark" style="overflow-y: scroll">
    <%- include("./partials/navbar.ejs") %>

    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="mt-4 header">My Portfolio</h2>
        </div>
      </div>
    </div>

    <div class="row diagonal-box mt-5">
      <div class="content">
        <div class="card mb-2" style="width: 100%">
          <div class="card-img-wrapper">
            <img
              src="/Succulent_Site.PNG"
              class="card-img-top"
              alt="Succulent_Site"
            />
          </div>

          <div class="card-body">
            <h2 class="card-title">SD Succulents (E-commerce)</h2>
            <h5 class="card-text">
              An E-commerce website centered around selling Succulent Plants
            </h5>
            <p class="card-text">
              Try browsing through the website and adding some items to the
              cart!
            </p>
            <h4 class="card-text mb-2">Technologies Used:</h4>
            <div class="technologies-used row mb-2"></div>

            <table
              class="
                table table-hover table-dark table-striped
                technology-table
              "
            >
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Technology Name</th>
                  <th scope="col">Version</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img
                      src="/JS_Logo.png"
                      class="ms-2 technologies-used-logo img-fluid"
                      alt="Javascript Logo"
                    />
                  </td>
                  <td>Javascript</td>
                  <td>ES6</td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="/Node_JS_Logo.png"
                      class="ms-2 technologies-used-logo img-fluid"
                      alt="Node JS Logo"
                    />
                  </td>
                  <td>Node JS</td>
                  <td>14.9.0</td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="/Mongo_DB_Logo.png"
                      class="ms-2 technologies-used-logo img-fluid"
                      alt="Node JS Logo"
                    />
                  </td>
                  <td>Mongo DB</td>
                  <td>4.1.3</td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="/HTML_Logo.png"
                      class="ms-2 technologies-used-logo img-fluid"
                      alt="HTML Logo"
                    />
                  </td>
                  <td>HTML</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="/CSS_Logo.png"
                      class="ms-2 technologies-used-logo img-fluid"
                      alt="CSS Logo"
                    />
                  </td>
                  <td>CSS</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="/Bootstrap_Logo.png"
                      class="ms-2 technologies-used-logo img-fluid"
                      alt="Bootstrap Logo"
                    />
                  </td>
                  <td>Bootstrap</td>
                  <td>5.1.1</td>
                </tr>
              </tbody>
            </table>

            <a href="#" class="btn btn-primary">See Live Project</a>
          </div>
        </div>
        <div class="card mb-2" style="width: 100%">
          <div class="card-img-wrapper">
            <img
              src="/Search_Engine.png"
              class="card-img-top"
              alt="Search_Engine"
            />
          </div>

          <div class="card-body">
            <h2 class="card-title">
              World of Warcraft: Burning Crusade Search Engine
            </h2>
            <h5 class="card-text">
              This is a search engine for the video game: World of Warcraft: The
              Burning Crusade.
            </h5>
            <p class="card-text">
              You can search for items, spells, or npcs. The data is pulled from
              the World of Warcraft API, and rendered into the page in a table.
              Clicking on the individual result will display further
              information. If you're unfamiliar with this game but want to see
              it's functionality:
            </p>
            <ul>
              <li>
                1.) Enter "sword" into the search bar, select the category
                "Items" and press the search button.
              </li>
              <li>
                2.) You will see the results displayed, click on any of the
                results to see additional information.
              </li>
            </ul>
            <h4 class="card-text mb-2">Technologies Used:</h4>
            <table
              class="
                table table-hover table-dark table-striped
                technology-table
              "
            >
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Technology Name</th>
                  <th scope="col">Version</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img
                      src="/JS_Logo.png"
                      class="ms-2 technologies-used-logo img-fluid"
                      alt="Javascript Logo"
                    />
                  </td>
                  <td>Javascript</td>
                  <td>ES6</td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="/HTML_Logo.png"
                      class="ms-2 technologies-used-logo img-fluid"
                      alt="JSX Logo"
                    />
                  </td>
                  <td>HTML</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="/SASS_Logo.png"
                      class="ms-2 technologies-used-logo img-fluid"
                      alt="CSS Logo"
                    />
                  </td>
                  <td>Node-SASS</td>
                  <td>4.14.1</td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="/Bootstrap_Logo.png"
                      class="ms-2 technologies-used-logo img-fluid"
                      alt="Bootstrap Logo"
                    />
                  </td>
                  <td>Bootstrap</td>
                  <td>4.5.2</td>
                </tr>
              </tbody>
            </table>
            <a
              href="https://ezekias1337.github.io/WoW-TBC-Search-Engine/index.html"
              class="btn btn-primary"
              >See Live Project</a
            >
          </div>
        </div>
        <div class="card mb-2" style="width: 100%">
          <div class="card-img-wrapper">
            <img
              src="/Talent_Calculator.png"
              class="card-img-top"
              alt="Talent_Calculator"
            />
          </div>

          <div class="card-body">
            <h2 class="card-title">
              World of Warcraft: Burning Crusade Talent Calculator
            </h2>
            <h5 class="card-text">
              This is a talent point calculator for the game: World of Warcraft:
              Burning Crusade.
            </h5>
            <p class="card-text">
              In this game, every time you level up you receive a new talent
              point that you can spend in separate trees to increase your power
              in different areas. However, once you spend the point you cannot
              get it back without spending in-game currency.
            </p>
            <p class="card-text">
              This makes testing out different talent builds very expensive.
              This project allows you to experiment with where you would like to
              spend these points without having to commit to spending in-game
              currency.
            </p>
            <p class="card-text">
              If you are unfamiliar with this game and would like to see the
              functionality:
            </p>

            <ul>
              <li>1.) Select any of the classes (Hunter. Shaman, etc.)</li>
              <li>
                2.) The page will scroll down to the talent tree. Think of those
                small image icons as buttons, and start clicking away!
              </li>
              <li>
                3.) You will notice that the talents accessible to you have a
                green border, and their border turns gold after you max out the
                points in that talent. As you spend more points in the tree,
                talents further down in the tree become available to you.
              </li>
            </ul>
            <h4 class="card-text mb-2">Technologies Used:</h4>
            <table
              class="
                table table-hover table-dark table-striped
                technology-table
              "
            >
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Technology Name</th>
                  <th scope="col">Version</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img
                      src="/React_Logo.png"
                      class="ms-2 technologies-used-logo img-fluid"
                      alt="Javascript Logo"
                    />
                  </td>
                  <td>React</td>
                  <td>17.0.2</td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="/JSX_Logo.png"
                      class="ms-2 technologies-used-logo img-fluid"
                      alt="JSX Logo"
                    />
                  </td>
                  <td>JSX</td>
                  <td>17.0.2</td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="/CSS_Logo.png"
                      class="ms-2 technologies-used-logo img-fluid"
                      alt="CSS Logo"
                    />
                  </td>
                  <td>CSS</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>
                    <img
                      src="/Bootstrap_Logo.png"
                      class="ms-2 technologies-used-logo img-fluid"
                      alt="Bootstrap Logo"
                    />
                  </td>
                  <td>Bootstrap</td>
                  <td>4.5.2</td>
                </tr>
              </tbody>
            </table>
            <a
              href="https://ezekias1337.github.io/Burning-Crusade-Talent-Calculator/#/"
              class="btn btn-primary"
              >See Live Project</a
            >
          </div>
        </div>
      </div>
    </div>

    <script src="/publicJS/main.js"></script>
  </body>
</html>
