@import "partials/variables";
html {
	height: 100%;
}

body[data-theme='dark'] {
	$bg: #333333;
	$color-headings: #0077FF;
	$color-text: #FCFCFC;

	background-color: $bg;
	color: $color-text;
}

body {
	background-color: $bg;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: $color-headings;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

body.transition,
body.transition *,
body.transition *:before,
body.transition *:after {
	transition: all 500ms !important;
	transition-delay: 0 !important;
}